body {
    background: rgb(3, 47, 61);
}

#mainHeading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(230, 85, 230) ;
    font-style: oblique ;
}

img {
    text-align: center;
}

h2 {
    text-align: center;
    color: crimson;
}

#introPara {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}